<template>
  <div id="app" class="container">
    <div class="header">
       <h1>Card Dealer</h1>
       <h2>Average:{{cards.avg}}</h2>
       <h2>Percentage:{{cards.percentage}}</h2>
       <h2>Sequnce:{{cards.sequence_number}}</h2>
    </div>
    <card-shuffle :cards="cards"></card-shuffle>
      <button class="button is-primary" @click="setShuffle">Shuffle</button>
      <button class="button is-info" @click="showHistory = !showHistory">History</button>
      <button class="button is-danger" @click="clearHistory" v-if="showHistory">Clear History</button>
      <cards-history :cardsHistory="cardsHistory" v-if="showHistory"></cards-history>
  </div>
</template>

<script>
import axios from "axios";
import CardShuffle from "./CardShuffle.vue";
import CardsHistory from "./CardsHistory.vue";

export default {
  name: "app",
  data() {
    return {
      cards: {
        _id: { $oid: "5a8a58f6b3a20348584c17be" },
        sequence_number: 1,
        percentage: 100,
        avg: 100,
        configuration: [
          { Suit: "spades", Rank: "ace", Img: "ace_of_spades.png" },
          { Suit: "spades", Rank: "2", Img: "2_of_spades.png" },
          { Suit: "spades", Rank: "3", Img: "3_of_spades.png" },
          { Suit: "spades", Rank: "4", Img: "4_of_spades.png" },
          { Suit: "spades", Rank: "5", Img: "5_of_spades.png" },
          { Suit: "spades", Rank: "6", Img: "6_of_spades.png" },
          { Suit: "spades", Rank: "7", Img: "7_of_spades.png" },
          { Suit: "spades", Rank: "8", Img: "8_of_spades.png" },
          { Suit: "spades", Rank: "9", Img: "9_of_spades.png" },
          { Suit: "spades", Rank: "10", Img: "10_of_spades.png" },
          { Suit: "spades", Rank: "jack", Img: "jack_of_spades.png" },
          { Suit: "spades", Rank: "queen", Img: "queen_of_spades.png" },
          { Suit: "spades", Rank: "king", Img: "king_of_spades.png" },
          { Suit: "diamonds", Rank: "ace", Img: "ace_of_diamonds.png" },
          { Suit: "diamonds", Rank: "2", Img: "2_of_diamonds.png" },
          { Suit: "diamonds", Rank: "3", Img: "3_of_diamonds.png" },
          { Suit: "diamonds", Rank: "4", Img: "4_of_diamonds.png" },
          { Suit: "diamonds", Rank: "5", Img: "5_of_diamonds.png" },
          { Suit: "diamonds", Rank: "6", Img: "6_of_diamonds.png" },
          { Suit: "diamonds", Rank: "7", Img: "7_of_diamonds.png" },
          { Suit: "diamonds", Rank: "8", Img: "8_of_diamonds.png" },
          { Suit: "diamonds", Rank: "9", Img: "9_of_diamonds.png" },
          { Suit: "diamonds", Rank: "10", Img: "10_of_diamonds.png" },
          { Suit: "diamonds", Rank: "jack", Img: "jack_of_diamonds.png" },
          { Suit: "diamonds", Rank: "queen", Img: "queen_of_diamonds.png" },
          { Suit: "diamonds", Rank: "king", Img: "king_of_diamonds.png" },
          { Suit: "hearts", Rank: "ace", Img: "ace_of_hearts.png" },
          { Suit: "hearts", Rank: "2", Img: "2_of_hearts.png" },
          { Suit: "hearts", Rank: "3", Img: "3_of_hearts.png" },
          { Suit: "hearts", Rank: "4", Img: "4_of_hearts.png" },
          { Suit: "hearts", Rank: "5", Img: "5_of_hearts.png" },
          { Suit: "hearts", Rank: "6", Img: "6_of_hearts.png" },
          { Suit: "hearts", Rank: "7", Img: "7_of_hearts.png" },
          { Suit: "hearts", Rank: "8", Img: "8_of_hearts.png" },
          { Suit: "hearts", Rank: "9", Img: "9_of_hearts.png" },
          { Suit: "hearts", Rank: "10", Img: "10_of_hearts.png" },
          { Suit: "hearts", Rank: "jack", Img: "jack_of_hearts.png" },
          { Suit: "hearts", Rank: "queen", Img: "queen_of_hearts.png" },
          { Suit: "hearts", Rank: "king", Img: "king_of_hearts.png" },
          { Suit: "clubs", Rank: "ace", Img: "ace_of_clubs.png" },
          { Suit: "clubs", Rank: "2", Img: "2_of_clubs.png" },
          { Suit: "clubs", Rank: "3", Img: "3_of_clubs.png" },
          { Suit: "clubs", Rank: "4", Img: "4_of_clubs.png" },
          { Suit: "clubs", Rank: "5", Img: "5_of_clubs.png" },
          { Suit: "clubs", Rank: "6", Img: "6_of_clubs.png" },
          { Suit: "clubs", Rank: "7", Img: "7_of_clubs.png" },
          { Suit: "clubs", Rank: "8", Img: "8_of_clubs.png" },
          { Suit: "clubs", Rank: "9", Img: "9_of_clubs.png" },
          { Suit: "clubs", Rank: "10", Img: "10_of_clubs.png" },
          { Suit: "clubs", Rank: "jack", Img: "jack_of_clubs.png" },
          { Suit: "clubs", Rank: "queen", Img: "queen_of_clubs.png" },
          { Suit: "clubs", Rank: "king", Img: "king_of_clubs.png" }
        ]
      },
      cardsHistory:"",
      showHistory: false
    };
  },
  components: {
    "card-shuffle": CardShuffle,
    "cards-history": CardsHistory
  },
  methods: {
    setShuffle() {
      axios
        .post("http://localhost:5000/card", {})
        .then(response => {
          this.getShuffle();
          this.getHistory();
        })
        .catch(error => {
          console.log(error);
        });
    },
    getHistory(){
       axios
        .get("http://localhost:5000/history")
        .then(response => {
          response.data.splice(0,1)
          this.cardsHistory = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    getShuffle() {
      axios
        .get("http://localhost:5000/card")
        .then(response => {
          this.cards = response.data[0];
        })
        .catch(error => {
          console.log(error);
        });
    },
    clearHistory() {
      axios
        .post("http://localhost:5000/drop", {})
        .then(response => {
          this.getShuffle();
          this.getHistory();
          // this.showHistory = false;
          console.log("DB is dropped");
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
};
</script>

<style scoped>

  button{
    margin:20px 10px 0 0;
  }
  .header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 25px;
  }
</style>
