<template>
    <transition-group name="list" tag="div">
        <ul v-for="cards in cardsHistory" :key="cards.avg">
            <h2>Sequence:{{cards.sequence_number}}</h2>
            <h2>Percentage:{{cards.percentage}}</h2>
            <li v-for="card in cards.configuration" :key="card.avg">
                <img :src="'src/assets/img/' + card.Img " class="image">
            </li>
        </ul>
    </transition-group>
</template>

<script>
import axios from "axios";
export default {
  props: ["cardsHistory"]
};
</script>

<style scoped>
div{
  margin-top: 40px;
}
h2{
  font-size: 20px;
}
ul {
  padding: auto;
}
img {
  width: 100%;
  max-width: 100%;
  max-height: auto;
  border: 5px white solid;
  box-shadow: 2px 2px black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
li {
  display: inline-block;
  max-width: calc(100% / 13);
  margin: 0 auto;
  padding: 15px;
}
.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
</style>