<template>
    <div>
        <transition-group name="cell" tag="ul">
             <li class="is-1" v-for="card in cards.configuration" :key="card.Img" >
                <img :src="'src/assets/img/' + card.Img " class="image">
            </li>
        </transition-group>
    </div>
</template>

<script>
import axios from "axios";
export default {
  props: ["cards"]
};
</script>

<style scoped>
ul {
  padding: auto;
}
img {
  width: 100%;
  max-width: 100%;
  max-height: auto;
  border: 5px white solid;
  box-shadow: 2px 2px black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
li {
  display: inline-block;
  max-width: calc(100% / 13);
  margin: 0 auto;
  padding: 5px;
}
.cell-move {
  transition: transform 1s;
}
</style>